body {
  background: #000;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

img {
  width: 750px;
  height: 600px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.2s linear;
  display: block;
}
nav a:last-child {
  margin-right: 0px;
}
nav a:hover, nav a.active {
  color: #000;
  background: #fff;
}

#preview {
  position: absolute;
  width: 120px;
  height: 80px;
  background: left/contain no-repeat;
  display: none;
}
#preview.active {
  display: block;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}
.slider img {
  display: none;
}
.slider img.active {
  display: block;
}

.slideNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideNavigation a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  padding: 2px 5px;
  background: #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.slideNavigation a:hover, .slideNavigation a a.active {
  background: #000;
  color: #fff;
}