nav, section {
  position: fixed;
  box-sizing: border-box;
}

nav {
  left: 10px;
  top: 70px;
  width: 220px;
  border: thin solid grey;
}

.jslink {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  font-size: 18pt;
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.active {
  color: white;
  background-color: blue;
}

section {
  left: 270px;
  top: 70px;
  right: 10px;
  bottom: 10px;
  overflow: auto;
}